[defaults]
inventory=inventory.ini
# ask_vault_pass=True
ansible_user=centos
ansible_password=DevOps321 # No need to provide password every time in the command, because we have given variable in inventory.ini [all:vars] if password is different then use [mongodb:vars] and usage will be like this "ansible-playbook -e component=mongodb main.yaml", in this way we have more options we can use whenever we want from the ansible document